html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f5f5dc;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: blue;
}

.column {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0;
}

tr:nth-child(even) {
    background-color: aqua;
}

.topleft {
    background-color: #E6E6FA;
}


body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    top: 50px;
    bottom: 24px;
    left: 0;
    right: 0;
    background-color: aquamarine;
    font-size: larger;

}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
